/* chart.css */
body {
    background: linear-gradient(to right, #3b82f6, #9333ea);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    max-width: 600px;
    width: 100%;
    border: 4px solid #f8f8f4;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #076134;
}

.chart-wrapper {
    display: flex;
    justify-content: center;
}

canvas {
    max-width: 100%;
    height: auto;
    border: 2px solid #43288d;
    /* Menambahkan border pada elemen canvas */
    border-radius: 10px;
    /* Menambahkan border-radius pada elemen canvas */
}

/* Tambahkan gaya untuk tabel dengan class details */
.details {
    margin-top: 2rem;
}

.details h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #076134;
}

.details table {
    width: 100%;
    border-collapse: collapse;
}

.details th,
.details td {
    border: 1px solid #d1d5db;
    padding: 0.5rem;
    text-align: center;
    /* Pastikan text-align center di sini */
}

.details th {
    background-color: #00020501;
    font-weight: bold;
}

/* chart.css */
.highlight {
    background-color: rgb(29, 209, 59) !important;
}

/* Warna-warni untuk baris tabel di tbody */
/* .row-color-0 {
    background-color: #db5151;
}
.row-color-1 {
    background-color: #99ffb6;
}
.row-color-2 {
    background-color: #cd05b9;
}
.row-color-3 {
    background-color: #cbc511;
}
.row-color-4 {
    background-color: #11309e;
} */

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    /* text-align: center; Pastikan text-align center di sini */
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Gaya khusus untuk setiap kolom */
.td1 {
    text-align: center;
    /* Atur gaya sesuai kebutuhan */
}

.td2 {
    text-align: center;
    /* Atur gaya sesuai kebutuhan */
}

.td3 {
    text-align: right;
    /* Atur gaya sesuai kebutuhan */
}
