/* chart.css */
body {
    background: linear-gradient(to right, #3b82f6, #9333ea);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    max-width: 700px;
    width: 100%;
    border: 4px solid #f8f8f4;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #076134;
}

.chart-wrapper {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

#myChart {
    max-width: 100%;
    width: 200px; /* Set a fixed width for the canvas */
    height: 400px; /* Set a fixed height for the canvas */
    border: 2px solid #43288d;
    border-radius: 10px;
}
#myChart2 {
    max-width: 100%;
    width: 300px; /* Set a fixed width for the canvas */
    height: 300px; /* Set a fixed height for the canvas */
    border: 2px solid #43288d;
    border-radius: 10px;
}


/* Styles for the details table */
.details {
    margin-top: 2rem;
    flex: 1;
    width: 100%;
}

.details h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #076134;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #43288d;
    border-radius: 10px;
    overflow: hidden;
    font-size: 0.8rem; /* Mengurangi ukuran font */
}

.details th, .details td {
    border: 1px solid #d1d5db;
    padding: 0.5rem; /* Mengurangi padding */
    text-align: center;
}

.details th {
    background-color: #43288d;
    color: white;
    font-weight: bold;
}

.details tr:nth-child(even) {
    background-color: #f2f2f2;
}

.details tr:hover {
    background-color: #ddd;
}

/* Flex container for side-by-side layout */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.highlight {
    background-color: rgb(29, 209, 59) !important;
}

.box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    text-align: center;
}
